.div {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(46, 46, 46)
}